{% extends "frontend/partitions/layout.html" %}
{% block body %}

<div class="wrap-breadcrumb parallax-breadcrumb">
	<div class="container">
		<ul class="breadcrumb">
			<li><a href="/home"><i
						class="fa fa-home"></i></a></li>
			<li><a href="/myAccount">Account</a>
			</li>
			<li><a href="/changePassword">Change
					Password</a></li>
		</ul>
	</div>
</div>

<div id="account-password" class="container">

	<div class="row">

		<aside id="column-left" class="col-sm-3 hidden-xs">
			<div class="box">
				<div class="box-heading">Account</div>
				<div class="list-group">

					<a href="/myAccount"
						class="list-group-item">My Account </a>

					<a href="/getAccountInformation"
						class="list-group-item">Edit Account</a> <a
						href="/changePassword"
						class="list-group-item">Password</a>

					<a href="/getAddressBook"
						class="list-group-item">Address Book</a> <a
						href="/wishlist"
						class="list-group-item">Wish List </a> 
						<a
						href="/orderHistory"
						class="list-group-item">Order History </a>  
						 <a
						href=""
						class="list-group-item">Returns </a> 
						<a
						href=""
						class="list-group-item">Transactions </a> 

					<a href="/frontend/logout"
						class="list-group-item">Logout </a>

				</div>
			</div>

			<div class="box">
				<div class="box-heading">Information</div>
				<div class="list-group">
					<a class="list-group-item" href="/aboutus">About Us </a>
					<a class="list-group-item" href="/deliveryInformation">Delivery
						Information </a>
					<a class="list-group-item" href="/privacyPolicy">Privacy Policy </a>
					<a class="list-group-item" href="/termsconditions">Terms &amp;
						Conditions </a>
					<a class="list-group-item" href="/contact">Contact Us </a>
					<!-- <a class="list-group-item" href="siteMap.html">Site Map </a> -->
				</div>
			</div>
		</aside>
		<div id="content" class="col-sm-9">
			<h1>Change Password</h1>
			<form action="/saveChangePassword"
				method="post" enctype="multipart/form-data" class="form-horizontal">
				<fieldset>
					<legend>Your Password</legend>
					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-password">Password</label>
						<div class="col-sm-10">
							<input type="password" name="password" value="" placeholder="Password" id="input-password"
								class="form-control">
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-confirm">Password Confirm</label>
						<div class="col-sm-10">
							<input type="password" name="confirm" value="" placeholder="Password Confirm"
								id="input-confirm" class="form-control">
						</div>
					</div>
				</fieldset>
				<div class="buttons clearfix">
					<div class="pull-left"><a
							href="/myAccount"
							class="btn btn-default">Back</a></div>
					<div class="pull-right">
						<input type="submit" value="Continue" class="btn btn-primary">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}

{% block Jscript %}
<!-- ======= Quick view JS ========= -->
<script>

	function quickbox() {
		if ($(window).width() > 767) {
			$('.quickview-button').magnificPopup({
				type: 'iframe',
				delegate: 'a',
				preloader: true,
				tLoading: 'Loading image #%curr%...',
			});
		}
	}
	jQuery(document).ready(function () { quickbox(); });
	jQuery(window).resize(function () { quickbox(); });

</script>

{% endblock %}