{% extends "frontend/partitions/layout.html" %}
{% block body %}

<div class="wrap-breadcrumb parallax-breadcrumb">
	<div class="container"><ul class="breadcrumb">
        <li><a href="/home"><i class="fa fa-home"></i></a></li>
        <li><a href="/myAccount">Account</a></li>
        <li><a href="/getAccountInformation">Edit Information</a></li>
      </ul></div>
</div>

<div id="account-edit" class="container">
  
    <div class="row">

                <aside id="column-left" class="col-sm-3 hidden-xs">
    <div class="box">
  <div class="box-heading">Account</div>
 <div class="list-group">
   
 <a href="/myAccount">My Account </a>
   
  <a href="/getAccountInformation" class="list-group-item">Edit Account</a> 
  <a href="/changePassword" class="list-group-item">Password</a>
   
  <a href="/getAddressBook" class="list-group-item">Address Book</a> 
  <a href="/wishlist" class="list-group-item">Wish List </a> 
  
  <a href="/orderHistory" class="list-group-item">Order History </a> 
  <!-- <a href="https://codezeel.com/opencart/OPC02/OPC020037/OPC1/index.php?route=account/download" class="list-group-item">Downloads </a> -->
  <!-- <a href="https://codezeel.com/opencart/OPC02/OPC020037/OPC1/index.php?route=account/recurring" class="list-group-item">Recurring payments </a> -->
   <!-- <a href="https://codezeel.com/opencart/OPC02/OPC020037/OPC1/index.php?route=account/reward" class="list-group-item">Reward Points </a> -->
    <a href="">Returns </a>
	 <a href="">Transactions </a> 
	 <!-- <a href="https://codezeel.com/opencart/OPC02/OPC020037/OPC1/index.php?route=account/newsletter" class="list-group-item">Newsletter </a> -->
   
  <a href="/frontend/logout" class="list-group-item">Logout </a>
   
</div>
</div>

    <div class="box">
  <div class="box-heading">Information</div>
	<div class="list-group">
		<a class="list-group-item" href="/aboutus">About Us </a>
		<a class="list-group-item" href="/deliveryInformation">Delivery
			Information </a>
		<a class="list-group-item" href="/privacyPolicy">Privacy Policy </a>
		<a class="list-group-item" href="/termsconditions">Terms &amp;
			Conditions </a>
		<a class="list-group-item" href="/contact">Contact Us </a>
		<!-- <a class="list-group-item" href="siteMap.html">Site Map </a> -->
	</div>
</div>
  </aside><div id="content" class="col-sm-9">
      <h1>My Account Information</h1>
      <form action="/editAccountInfromation" method="post" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
          <legend>Your Personal Details</legend>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-firstname">First Name </label>
            <div class="col-sm-10">
              <input type="text" name="firstname" value="{{firstName}}" placeholder="First Name" id="input-firstname" class="form-control">
                          </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-lastname">Last Name</label>
            <div class="col-sm-10">
              <input type="text" name="lastname" value="{{lastName}}" placeholder="Last Name" id="input-lastname" class="form-control">
                          </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-email">E-Mail</label>
            <div class="col-sm-10">
              <input type="email" name="email" value="{{email}}" placeholder="E-Mail" id="input-email" class="form-control">
                          </div>
          </div>
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-telephone">Telephone</label>
            <div class="col-sm-10">
              <input type="tel" name="telephone" value="{{telephone}}" placeholder="Telephone" id="input-telephone" class="form-control">
                          </div>
          </div>
                  </fieldset>
        <div class="buttons clearfix">
          <div class="pull-left"><a href="/myAccount" class="btn btn-default">Back</a></div>
          <div class="pull-right">
            <input type="submit" value="Continue" class="btn btn-primary">
          </div>
        </div>
      </form>
      </div>
    </div>
</div>

{% endblock %}

{% block Jscript %}
<!-- ======= Quick view JS ========= -->
<script> 

function quickbox(){
 if ($(window).width() > 767) {
		$('.quickview-button').magnificPopup({
			type:'iframe',
			delegate: 'a',
			preloader: true,
			tLoading: 'Loading image #%curr%...',
		});
 }	
}
jQuery(document).ready(function() {quickbox();});
jQuery(window).resize(function() {quickbox();});

</script>

<script type="text/javascript"><!--
// Sort the custom fields
$('.form-group[data-sort]').detach().each(function() {
	if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('.form-group').length) {
		$('.form-group').eq($(this).attr('data-sort')).before(this);
	}

	if ($(this).attr('data-sort') > $('.form-group').length) {
		$('.form-group:last').after(this);
	}

	if ($(this).attr('data-sort') == $('.form-group').length) {
		$('.form-group:last').after(this);
	}

	if ($(this).attr('data-sort') < -$('.form-group').length) {
		$('.form-group:first').before(this);
	}
});
//--></script>
<script type="text/javascript"><!--
$('button[id^=\'button-custom-field\']').on('click', function() {
	var element = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(element).button('loading');
				},
				complete: function() {
					$(element).button('reset');
				},
				success: function(json) {
					$(element).parent().find('.text-danger').remove();

					if (json['error']) {
						$(element).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(element).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});
//--></script>
<script type="text/javascript"><!--
$('.date').datetimepicker({
	language: '',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '',
	pickDate: false
});
//--></script>

{% endblock %}