{% extends "frontend/partitions/layout.html" %}
{% block body %}

<div class="wrap-breadcrumb parallax-breadcrumb">
	<div class="container"><ul class="breadcrumb">
        <li><a href="/home"><i class="fa fa-home"></i></a></li>
        <li><a href="/myAccount">Account</a></li>
      </ul></div>
</div>

<div id="account-account" class="container">
  
    <div class="row">

                <aside id="column-left" class="col-sm-3 hidden-xs">
    <div class="box">
  <div class="box-heading">Account</div>
 <div class="list-group">
   
 <a href="/myAccount">My Account </a>
   
  <a href="/getAccountInformation" class="list-group-item">Edit Account</a> 
  <a href="/changePassword" class="list-group-item">Password</a>
   
  <a href="/getAddressBook" class="list-group-item">Address Book</a> 
  <a href="/wishlist" class="list-group-item">Wish List </a>
   <a href="/orderHistory" class="list-group-item">Order History </a>
   
	<!-- <a href="https://codezeel.com/opencart/OPC02/OPC020037/OPC1/index.php?route=account/recurring" class="list-group-item">Recurring payments </a>  -->
	<!-- <a href="https://codezeel.com/opencart/OPC02/OPC020037/OPC1/index.php?route=account/reward" class="list-group-item">Reward Points </a>  -->
	<a href="">Returns </a>
	 <a href="" class="list-group-item">Transactions </a> 

   
  <a href="/frontend/logout" class="list-group-item">Logout </a>
   
</div>
</div>

    <div class="box">
  <div class="box-heading">Information</div>
	<div class="list-group">
		<a class="list-group-item" href="/aboutus">About Us </a>
		<a class="list-group-item" href="/deliveryInformation">Delivery
			Information </a>
		<a class="list-group-item" href="/privacyPolicy">Privacy Policy </a>
		<a class="list-group-item" href="/termsconditions">Terms &amp;
			Conditions </a>
		<a class="list-group-item" href="/contact">Contact Us </a>
		<!-- <a class="list-group-item" href="siteMap.html">Site Map </a> -->
	</div>
</div>
  </aside><div id="content" class="col-sm-9">
      <h2>My Account</h2>
      <ul class="list-unstyled">
        <li><a href="/getAccountInformation">Edit your account information</a></li>
        <li><a href="/changePassword">Change your password</a></li>
        <li><a href="/getAddressBook">Modify your address book entries</a></li>
        <li><a href="/wishlist">Modify your wish list</a></li>
      </ul>
            <h3>My Orders</h3>
      <ul class="list-unstyled">
        <li><a href="/orderHistory">View your order history</a></li>
        <!-- <li><a href="https://codezeel.com/opencart/OPC02/OPC020037/OPC1/index.php?route=account/download">Downloads</a></li> -->
                <!-- <li><a href="https://codezeel.com/opencart/OPC02/OPC020037/OPC1/index.php?route=account/reward">Your Reward Points</a></li> -->
                <li><a href="">View your return requests</a></li>
        <li><a href="">Your Transactions</a></li>
        <!-- <li><a href="https://codezeel.com/opencart/OPC02/OPC020037/OPC1/index.php?route=account/recurring">Recurring payments</a></li> -->
      </ul>
      <!-- <h3>My Affiliate Account</h3>
      <ul class="list-unstyled">
                <li><a href="https://codezeel.com/opencart/OPC02/OPC020037/OPC1/index.php?route=account/affiliate/add">Register for an affiliate account</a></li>
              </ul>
      <h3>Newsletter</h3> -->
      <!-- <ul class="list-unstyled">
        <li><a href="https://codezeel.com/opencart/OPC02/OPC020037/OPC1/index.php?route=account/newsletter">Subscribe / unsubscribe to newsletter</a></li>
      </ul> -->
      </div>
    </div>
</div>

{% endblock %}

{% block Jscript %}
<!-- ======= Quick view JS ========= -->
<script> 

function quickbox(){
 if ($(window).width() > 767) {
		$('.quickview-button').magnificPopup({
			type:'iframe',
			delegate: 'a',
			preloader: true,
			tLoading: 'Loading image #%curr%...',
		});
 }	
}
jQuery(document).ready(function() {quickbox();});
jQuery(window).resize(function() {quickbox();});

</script>


{% endblock %}