<header class="header style7">
    <div class="top-bar">
        <div class="container">
            <div class="top-bar-left">
                <div class="header-message">
                    Welcome to our online store! 
                </div>
            </div>
            <div class="top-bar-right">
                
                <ul class="header-user-links">
                    <li>
                        <a href="/user_login">Login or Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="main-header">
            <div class="row">
                <div class="col-lg-2 col-sm-3 col-md-2 col-xs-6 col-ts-12 header-element">
                    <div class="logo">
                        <a href="/">
                            <img src="/assets/images/logo.png" alt="img">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-sm-9 col-md-7 col-xs-6 col-ts-12">
                    <div class="block-search-block">
                        <form class="form-search form-search-width-category">
                            <div class="form-content">
                                <div class="category">
                                    <select title="cate" data-placeholder="All Categories" class="chosen-select"
                                            tabindex="1">
                                        <option value="United States">Accessories</option>
                                        <option value="United Kingdom">Accents</option>
                                        <option value="Afghanistan">Desks</option>
                                        <option value="Aland Islands">Sofas</option>
                                        <option value="Albania">New Arrivals</option>
                                        <option value="Algeria">Bedroom</option>
                                    </select>
                                </div>
                                <div class="inner">
                                    <input type="text" class="input" name="s" value="" placeholder="Search here">
                                </div>
                                <button class="btn-search" type="submit">
                                    <span class="icon-search"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-12 col-md-3 col-xs-12 col-ts-12">
                    <div class="header-control">
                        <div class="block-minicart oemone-mini-cart block-header oemone-dropdown">
                            <a href="javascript:void(0);" class="shopcart-icon" data-oemone="oemone-dropdown">
                                Cart
                                <span class="count">
									0
									</span>
                            </a>
                            <div class="no-product oemone-submenu">
                                <p class="text">
                                    You have
                                    <span>
											 0 item(s)
										</span>
                                    in your bag
                                </p>
                            </div>
                        </div>
                        <div class="block-account block-header oemone-dropdown">
                            <a href="javascript:void(0);" data-oemone="oemone-dropdown">
                                <span class="flaticon-user"></span>
                            </a>
                            <div class="header-account oemone-submenu">
                                <div class="header-user-form-tabs">
                                    <ul class="tab-link">
                                        <li class="active">
                                            <a data-toggle="tab" aria-expanded="true" href="#header-tab-login">Login</a>
                                        </li>
                                        <li>
                                            <a data-toggle="tab" aria-expanded="true" href="#header-tab-rigister">Register</a>
                                        </li>
                                    </ul>
                                    <div class="tab-container">
                                        <div id="header-tab-login" class="tab-panel active">
                                            <form method="post" class="login form-login">
                                                <p class="form-row form-row-wide">
                                                    <input type="email" name="email" placeholder="Email" class="input-text">
                                                </p>
                                                <p class="form-row form-row-wide">
                                                    <input type="password" name="password" class="input-text" placeholder="Password">
                                                </p>
                                                <p class="form-row">
                                                    <label class="form-checkbox">
                                                        <input type="checkbox" name="rememberMe" class="input-checkbox">
                                                        <span>
																Remember me
															</span>
                                                    </label>
                                                    <input type="submit" class="button" value="Login">
                                                </p>
                                                <p class="lost_password">
                                                    <a href="#">Lost your password?</a>
                                                </p>
                                            </form>
                                        </div>
                                        <div id="header-tab-rigister" class="tab-panel">
                                            <form method="post" class="register form-register">
                                                <p class="form-row form-row-wide">
                                                    <input type="email" name="email" placeholder="Email" class="input-text">
                                                </p>
                                                <p class="form-row form-row-wide">
                                                    <input type="text" name="username" placeholder="Username" class="input-text">
                                                </p>
                                                <p class="form-row form-row-wide">
                                                    <input type="password" namr="password" class="input-text" placeholder="Password">
                                                </p>
                                                <p class="form-row">
                                                    <input type="submit" class="button" value="Register">
                                                </p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="menu-bar mobile-navigation menu-toggle" href="#">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav-container">
        <div class="container">
            <div class="header-nav-wapper main-menu-wapper">
                <div class="vertical-wapper block-nav-categori">
                    <div class="block-title">
						<span class="icon-bar">
							<span></span>
							<span></span>
							<span></span>
						</span>
                        <span class="text">All Categories</span>
                    </div>
                    <div class="block-content verticalmenu-content">
                        <ul class="oemone-nav-vertical vertical-menu oemone-clone-mobile-menu">
                            <li class="menu-item">
                                <a href="#" class="oemone-menu-item-title" title="New Arrivals">New Arrivals</a>
                            </li>
                            <li class="menu-item">
                                <a title="Hot Sale" href="#" class="oemone-menu-item-title">Hot Sale</a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a title="Accessories" href="#" class="oemone-menu-item-title">Accessories</a>
                                <span class="toggle-submenu"></span>
                                <ul role="menu" class=" submenu">
                                    <li class="menu-item">
                                        <a title="Living" href="#" class="oemone-item-title">Living</a>
                                    </li>
                                    <li class="menu-item">
                                        <a title="Accents" href="#" class="oemone-item-title">Accents</a>
                                    </li>
                                    <li class="menu-item">
                                        <a title="New Arrivals" href="#" class="oemone-item-title">New Arrivals</a>
                                    </li>
                                    <li class="menu-item">
                                        <a title="Accessories" href="#" class="oemone-item-title">Accessories</a>
                                    </li>
                                    <li class="menu-item">
                                        <a title="Bedroom" href="#" class="oemone-item-title">Bedroom</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a title="Accents" href="#" class="oemone-menu-item-title">Accents</a>
                            </li>
                            <li class="menu-item">
                                <a title="Tables" href="#" class="oemone-menu-item-title">Tables</a>
                            </li>
                            <li class="menu-item">
                                <a title="Dining" href="#" class="oemone-menu-item-title">Dining</a>
                            </li>
                            <li class="menu-item">
                                <a title="Lighting" href="#" class="oemone-menu-item-title">Lighting</a>
                            </li>
                            <li class="menu-item">
                                <a title="Office" href="#" class="oemone-menu-item-title">Office</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-nav">
                    <div class="container-wapper">
                        <ul class="oemone-clone-mobile-menu oemone-nav main-menu " id="menu-main-menu">
                            <li class="menu-item">
                                <a href="/" class="oemone-menu-item-title {{home}}" title="Home">Home</a>
                            </li>
                            <li class="menu-item  menu-item-has-children item-megamenu">
                                <a href="#" class="oemone-menu-item-title {{product}}" title="Products">Products</a>
                                <span class="toggle-submenu"></span>
                                <div class="submenu mega-menu menu-page">
                                    <div class="row">
                                        {% for item in productCategoryData %}
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                            <div class="oemone-custommenu default">
                                                {% if item.main_productId == null %}
                                                <h2 class="widgettitle">{{item.productCategoryName}} </h2> <!--Pumps-->
                                                <ul class="menu">
                                                    {% if item.subproduct %}
                                                    {% for itemsub in item.subproduct %}
                                                    <li class="menu-item">
                                                        <a href="/products/{{item._id}}/{{itemsub.itemname}}"> {{itemsub.name}} </a> <!--Centrifugal Pumps-->
                                                    </li>
                                                    {% endfor %}
                                                    {% endif %}
                                                    <!-- <li class="menu-item"> -->
                                                        <!-- <a href="/products">Gear Pumps</a> -->
                                                    <!-- </li> -->
                                                    <!-- <li class="menu-item"> -->
                                                        <!-- <a href="/products">AODD Pumps</a> -->
                                                    <!-- </li> -->
                                                </ul>
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item"> -->
                                            <!-- <div class="oemone-custommenu default"> -->
                                                <!-- <h2 class="widgettitle">Valves</h2> Valves -->
                                                <!-- <ul class="menu">
                                                    <li class="menu-item">
                                                        <a href="productdetails-fullwidth.html">Product Fullwidth</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="productdetails-leftsidebar.html">Product left
                                                            sidebar</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="productdetails-rightsidebar.html">Product right
                                                            sidebar</a>
                                                    </li>
                                                </ul> -->
                                            <!-- </div> -->
                                        <!-- </div> -->
                                        <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item"> -->
                                            <!-- <div class="oemone-custommenu default"> -->
                                                <!-- <h2 class="widgettitle">Accessories</h2> Accessories -->
                                                <!-- <ul class="menu">
                                                    <li class="menu-item">
                                                        <a href="productdetails-fullwidth.html">Product Fullwidth</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="productdetails-leftsidebar.html">Product left
                                                            sidebar</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="productdetails-rightsidebar.html">Product right
                                                            sidebar</a>
                                                    </li>
                                                </ul> -->
                                            <!-- </div> -->
                                        <!-- </div> -->
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 menu-page-item">
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item">
                                <a href="/aboutus" class="oemone-menu-item-title {{aboutus}}" title="About">About Us</a>
                            </li>
                            <li class="menu-item">
                                <a href="/privacypolicy" class="oemone-menu-item-title {{privacypolicy}}" title="Privacy Policy">Privacy policy</a>
                            </li>
                            <li class="menu-item">
                                <a href="/contact" class="oemone-menu-item-title {{contact}}" title="Contact us">Contact us</a>
                            </li>
                            <li class="menu-item">
                                <a href="/termsconditions" class="oemone-menu-item-title {{termsconditions}}" title="Terms & Conditions">Terms & conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="header-device-mobile">
    <div class="wapper">
        <div class="item mobile-logo">
            <div class="logo">
                <a href="#">
                    <img src="/assets/images/logo.png" alt="img">
                </a>
            </div>
        </div>
        <div class="item item mobile-search-box has-sub">
            <a href="#">
						<span class="icon">
							<i class="fa fa-search" aria-hidden="true"></i>
						</span>
            </a>
            <div class="block-sub">
                <a href="#" class="close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <div class="header-searchform-box">
                    <form class="header-searchform">
                        <div class="searchform-wrap">
                            <input type="text" class="search-input" placeholder="Enter keywords to search...">
                            <input type="submit" class="submit button" value="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="item mobile-settings-box has-sub">
            <a href="#">
						<span class="icon">
							<i class="fa fa-cog" aria-hidden="true"></i>
						</span>
            </a>
            <div class="block-sub">
                <a href="#" class="close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <div class="block-sub-item">
                    <h5 class="block-item-title">Settings</h5>
                </div>
            </div>
        </div>
        <div class="item menu-bar">
            <a class=" mobile-navigation  menu-toggle" href="#">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</div>